.general {
    border-collapse: collapse;
    width: 600px;
    background-color: #0c131b;

}
td {
    text-align: center;
}
h1 {
    margin: 0;
    text-align: center;
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
}
h2 {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
}
p {
    
    padding: 1px 54px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
}
span {
    color: #e8a336;
}
.show_kart a {
    color: #fa5d26;
}
img {
    vertical-align: bottom;
}
.knopka,
.knopkar {
    text-align: center;
}
.titleA {
    
    padding-bottom: 13px;
    padding-top: 13px;
    padding-left: 53px;
    padding-right: 53px;
    align-items: center;
    
}
.knopka a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
}
.knopkar a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    line-height: 22px;
    color: #fffff8;
    font-weight: bold;
    font-family: "Arial";
}

.pre-order h2 {
    font-size: 36px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.pre-order span {
    color: #9f15a9;
}
.pre-order h3 {
    margin-bottom: 15px;
    color: #bcbcbd;
    font-family: "Arial";
}
.prop {
    padding: 16px;
    font-size: 11px;
    line-height: 22px;
    color: #85908c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.knopka_show p {
    margin-bottom: 60px;
    margin-top: 25px;

}
.connect {
    background-color: #eed3a8;
}
.connect h2 {
    
    margin: 45px 0;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.connect p {
    margin: 38px 0;
    font-size: 15px;
line-height: 22px;
color: #000000;
font-family: "Arial";
text-align: center;
}
.connect span,
.connect a {
    color: #c17029;
}
.social  {
    padding-bottom: 20px;
    margin: 0;
    background-color: #eed3a8;
}